@model AShop_Models.Product
@using AShop_Utility


<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ','-')">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <small class="my-0 font-weight-normal" style="color:#28a745;">@Model.Brand.BrandName</small>
                <h4 class="my-0 font-weight-normal">@Model.Name</h4>
               
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Model.Price <small class="text-muted">EUR</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WC.ImagePath@Model.Image" alt="Card image cap"></li>
                </ul>
                <div class="card-body p-1 px-3 row">
                    <div class="col-6">
                        <span class="badge p-2 border w-100" style="background-color: #d9fae6; color:gray; ">@Model.Category.Name</span>
                    </div>
                    <div class="col-6 border-0">
                        <span class="badge p-2 border w-100" style="background-color: #e1e1e1; color: gray; ">@Model.ApplicationType.Name</span>
                    </div>
                    <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                        <p>@Model.ShortDescription</p>
                    </div>
                    <div class="col-12 p-1">
                        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>
                    </div>
                </div>
                @*<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>*@
            </div>
        </div>
    </div>

